body{
margin:0;
font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", 
"Helvetica Neue", Helvetica, Arial, sans-serif;
text-align:center;
overflow-x:hidden;
}
body{
margin:0;
font-family:Poppins;
text-align:center;
color:white;
overflow-x:hidden;
}

/* Landing page */

.landing{
background: linear-gradient(135deg,#ff758c,#ff7eb3);height:100vh;
display:flex;
align-items:center;
justify-content:center;
}
body{
background:var(--background-gradient);
color:white;
}

.main-title{
font-size:60px;
animation: glow 2s infinite alternate;
}

.sub-title{
font-size:28px;
margin-top:10px;
}

.intro{
font-size:20px;
max-width:500px;
margin:auto;
margin-top:20px;
}

.start-btn{

background:var(--primary-color);
color:white;
border-radius:50px;
padding:15px 40px;
font-size:20px;
transition:0.3s;

}

.start-btn:hover{

background:var(--secondary-color);
transform:scale(1.1);

}

/* Surprise page */

.surprise{
background:linear-gradient(120deg,#ff758c,#ff7eb3);
min-height:100vh;
padding-top:60px;
}

.birthday-title{
font-size:55px;
margin-bottom:20px;
}

.love-message{
font-size:22px;
max-width:600px;
margin:auto;
}

.memory-title{
margin-top:60px;
}
:root{

--primary-color:#ff4d6d;
--secondary-color:#ff8fa3;
--accent-color:#ffc2d1;

--background-gradient:
linear-gradient(135deg,#ff4d6d,#ff8fa3,#ffc2d1);

}

.memory-img{
width:100%;
border-radius:20px;
margin-top:30px;
transition:0.4s;
}

.memory-img:hover{
transform:scale(1.1);
}

@keyframes glow{
from{ text-shadow:0 0 10px white;}
to{ text-shadow:0 0 30px pink;}
}

/* Floating hearts */

.heart{
position:fixed;
bottom:-10px;
font-size:24px;
animation: float 6s linear infinite;
}

@keyframes float{
0%{transform:translateY(0);opacity:1;}
100%{transform:translateY(-900px);opacity:0;}
}